<div class="container">
  <div class="main-body">

        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
<!-- upload img -->
                  <div class="profile-pic-wrapper">
                    <div class="pic-holder">
                      <!-- uploaded pic shown here -->
                      <img id="profilePic" class="pic" src="">

                      <Input class="uploadProfileInput" type="file" name="profile_pic" id="newProfilePhoto" accept="image/*" style="opacity: 0;" />
                      <label for="newProfilePhoto" class="upload-file-block">
                        <div class="text-center">
                          <div class="mb-2">
                            <i class="fa fa-camera fa-2x"></i>
                          </div>
                          <div class="text-uppercase">
                            Update <br /> Profile Photo
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>

                  <div class="mt-3">
                    <h4>{{UserData.name}}</h4>
                    <p class="text-secondary mb-1">{{UserData.username}}</p>
                    <p class="text-secondary mb-1">{{UserData.title}}</p>
                    <p class="text-muted font-size-sm">{{UserData.country}}</p>
                  </div>
                </div>
                <hr class="my-4">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe me-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                    <span class="text-secondary">https://hhhh.com</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card mt-3">
              <h4>Description</h4>
              <p class="text-secondary mb-1">{{UserData.Description}}</p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">{{UserData.phoneNumber}}</div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">{{UserData.email}}</div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Title</h6>
                  </div>
                  <div class="col-sm-9 text-secondary"></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                    <a class="btn btn-info " routerLink="/editprofile">Edit</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row gutters-sm">
              <div class="col-sm-6 mb-3">
                <div class="card ">
                  <div class="card-body" *ngIf="!UserData.categoryName">
                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Mentor Section</i></h6>
                    <div class="row">
                      <div class="col-sm-11 ms-2 text-secondary">Do you need to share your Knowledge?
                        <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#mentor"> OK </button>
                        <div id="mentor" aria-labelledby="mentorsection">
                          <div class="row mb-3">
                            <div class="col-sm-4">
                              <h6 class="mb-0">Category</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-sm-4">
                              <h6 class="mb-0">Hour Rate</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body" *ngIf="UserData.categoryName">
                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Catogory</i></h6>
                    <div class="row">
                      <div class="col-sm-9 text-secondary">{{UserData.categoryName}}</div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-9 text-secondary">{{UserData.HourRate}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 mb-3">
                  <div class="card l-bg-blue-dark">
                      <div class="card-statistic-3 p-4">
                          <div class="card-icon card-icon-large mx-4"><i class="fas fa-users"></i></div>
                          <div class="mb-4">
                              <h5 class="card-title mb-0">My Account</h5>
                          </div>
                          <div class="row align-items-center mb-4 d-flex">
                              <div class="col-8">
                                  <h2 class="d-flex align-items-center mb-0">
                                    {{UserData.moneyAccount}}
                                  </h2>
                              </div>
                              <!-- <div class="col-4 text-right">
                                  <span>9.23% <i class="fa fa-arrow-up"></i></span>
                              </div> -->
                          </div>
                          <div class="progress mt-1 " data-height="8" style="height: 8px;">
                              <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="row gutters-sm">
              <div class="col-sm-12 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Certificate</i></h6>
                    <div class="row">
                      <div class="col-sm-6 ms-3 text-secondary" *ngFor="let item of UserData.certificateTitles and let item2 of UserData.certificateurls" >
                        <h5 class="card-title">{{item}}</h5>
                        <a href="{{item2}}" class="stretched-link">Details</a>
                      </div>
                      <div class="col-sm-5 text-secondary" *ngFor="let item of UserData.certfcimage">
                        <img src="data:image/png;base64,{{item}}"class="card-img-right w-100 h-75"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>

      </div>
  </div>
