<div class="container">
  <h1 class="mb-3">Add New Poposal</h1>
  <div class="row">
    <div class="col-6">
      <form [formGroup]="propFrom" (ngSubmit)="addingprop()">
        <!-- <div class="mb-3">
          <label for="id" class="form-label">ID</label>
          <input
            type="text"
            class="form-control"
            id="id"
            name="id"
            formControlName="id"
            [(ngModel)]="addProposal.id"
          />
        </div> -->
        <div class="mb-3">
          <label for="Noofhours" class="form-label">No of Hours</label>
          <input
            type="number"
            class="form-control"
            id="Noofhours"
            name="noOfHours"
            formControlName="noOfHours"
            [(ngModel)]="addProposal.noOfHours"
            [ngClass]="{
              'is-invalid':
                (propFrom.get('noOfHours')?.touched ||
                  propFrom.get('noOfHours')?.dirty) &&
                !propFrom.get('noOfHours')?.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="propFrom.get('noOfHours')?.errors?.['required']">
              please enter Number of Hours
            </span>
          </span>
        </div>

        <div class="mb-3">
          <label for="desc" class="form-label">Description</label>
          <textarea
            class="form-control"
            id="desc"
            name="description"
            formControlName="description"
            [(ngModel)]="addProposal.description"
            [ngClass]="{
              'is-invalid':
                (propFrom.get('description')?.touched ||
                  propFrom.get('description')?.dirty) &&
                !propFrom.get('description')?.valid
            }"
          >
          </textarea>
          <span class="invalid-feedback">
            <span *ngIf="propFrom.get('description')?.errors?.['required']">
              please enter the description of the proposal
            </span>
            <span *ngIf="propFrom.get('description')?.errors?.['minlength']">
              the description must be more than 20 characters
            </span>
            <span *ngIf="propFrom.get('description')?.errors?.['maxlength']">
              the description must be less than or equal 150 characters
            </span>
          </span>
        </div>

        <div class="mb-3">
          <label for="cost" class="form-label">Cost</label>
          <input
            type="number"
            class="form-control"
            id="cost"
            name="cost"
            formControlName="cost"
            [(ngModel)]="addProposal.cost"
            [ngClass]="{
              'is-invalid':
                (propFrom.get('cost')?.touched ||
                  propFrom.get('cost')?.dirty) &&
                !propFrom.get('cost')?.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="propFrom.get('cost')?.errors?.['required']">
              please enter the cost of the proposal
            </span>
          </span>
        </div>
        <!-- <div class="mb-3">
          <label for="service_id" class="form-label">Service ID</label>
          <input
            type="number"
            class="form-control"
            id="service_id"
            name="service_id"
            formControlName="service_id"
            [(ngModel)]="addProposal.service_id"
            [ngClass]="{
              'is-invalid':
                (propFrom.get('service_id')?.touched ||
                  propFrom.get('service_id')?.dirty) &&
                !propFrom.get('service_id')?.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="propFrom.get('service_id')?.errors?.['required']">
              please enter the service id
            </span>
          </span>
        </div> -->
        <!-- <div class="mb-3">
          <label for="ser_id" class="form-label">User ID</label>
          <input
            type="text"
            class="form-control"
            id="user_id"
            name="user_id"
            formControlName="user_id"
            [(ngModel)]="addProposal.user_id"
            [ngClass]="{
              'is-invalid':
                (propFrom.get('user_id')?.touched ||
                  propFrom.get('user_id')?.dirty) &&
                !propFrom.get('user_id')?.valid
            }"  />
          <span class="invalid-feedback">
            <span *ngIf="propFrom.get('user_id')?.errors?.['required']">
              please enter the User id
            </span>
          </span>
        </div> -->
        <button type="submit" mat-raised-button class="btn btn-success submit"
        >Save</button>
        <button class="btn btn-warning cancel" (click)="CancelAdding()">Cancel</button>
      </form>
    </div>
    <div class="mb-3 col-sm-5 col-md-6">
      <img class="img-fluid img-thumbnail" src="./assets/proposal.png"/>
    </div>

  </div>
</div>
