
<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of MyData" >
         <mat-card class="example-card col-md-3 card">
          <mat-card-header>
            <mat-card-title><a routerLink="/user/user-profile">{{item.service_userName}}</a></mat-card-title>
            <!-- <mat-card-subtitle>{{item.id}}</mat-card-subtitle> -->
          </mat-card-header>
          <mat-card-content>

            <p>{{item.Cost }}&dollar;</p>
            <p>{{item.Description}}</p>
            <p>{{item.NoOfHours}}</p>
            <p>{{item.prop_userName}}</p>
            <p>{{item.prop_title}}</p>
            <p>{{item.HourRate}}&dollar;</p>
            
          </mat-card-content>
          <mat-card-actions>
            <button  class=" btn btn-success accept">Accept</button>
          </mat-card-actions>
          <mat-card-footer>
          </mat-card-footer>
        </mat-card>
    </ng-container>
  </div>
</div>
<button class="btn btn-primary back"  (click)="Onback()"> Back </button>
