<div class="container">
  <div class="main-body">
    <div class="card">
      <div class="card-body">
        <form class="g-3" #InformationForm="ngForm" class="mx-1 mx-md-4" (ngSubmit)="editinfo()" >
          <div class="row">
            <div class="col-lg-4">
              <div class="d-flex flex-column align-items-center text-center">
  <!-- upload img -->
                    <div class="profile-pic-wrapper">
                      <div class="pic-holder">
                        <!-- uploaded pic shown here -->
                        <img id="profilePic" class="pic" src="data:image/png;base64,{{UserData.userimage}}">
                        <input class="uploadProfileInput form-control" name="profile_pic" type="file" style="opacity: 0;"
                        (change)="fileInput($event.target)" id="newProfilePhoto">
                        <!-- <Input class="uploadProfileInput" type="file" name="profile_pic" id="newProfilePhoto" accept="image/*" style="opacity: 0;" /> -->
                        <label for="newProfilePhoto" class="upload-file-block">
                          <div class="text-center">
                            <div class="mb-2">
                              <i class="fa fa-camera fa-2x"></i>
                            </div>
                            <div class="text-uppercase">
                              Update <br /> Profile Photo
                            </div>
                          </div>
                        </label>
                      </div>
                    </div>
                </div>
                <!-- <hr class="my-4">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe me-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                    <span class="text-secondary">https://hhhh.com</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github me-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                </ul> -->
                <div class="mt-3 p-3">
                  <h4>Description</h4>
                  <div class="col-sm-12 text-secondary">
                    <textarea class="form-control" name="description" id="description"  #summary="ngModel" [(ngModel)]="UserData.summary" rows="3">{{UserData.summary}}</textarea>
                  </div>
                </div>
            </div>


            <div class=" col-lg-8">
              <div class=" row mb-3">
                <div class=" col-sm-3">
                  <h6 class="mb-0">Full Name <small class="text-danger">*</small></h6>
                </div>
                <div class="col-sm-9 text-secondary d-flex ">
                  <div  class="form-outline w-100 mb-0 pe-3">
                    <input type="text" class="form-control me-2" name="firstname"
                    required pattern="^[A-Za-z]+([A-Za-z]){2,}$"
                    #fname="ngModel" [(ngModel)]="UserData.fname" value="{{UserData.fname}}"
                    [ngClass]="{'is-invalid':(fname.touched || fname.dirty )&& fname.invalid}"/>
                      <span class='invalid-feedback'>
                      <span *ngIf="fname.errors?.['required']">
                        First Name is required.
                      </span>
                      <span *ngIf="fname.errors?.['pattern']">
                        First Name must be at least 3 characters and only alphabetic and can't contain voids.
                      </span>
                    </span>
                  </div>
                  <div  class="form-outline w-100 mb-0">
                    <input type="text" class="form-control" name="lastname"
                    required pattern="^[A-Za-z]+([A-Za-z]){2,}$"
                    #lname="ngModel" [(ngModel)]="UserData.lname" value="{{UserData.lname}}"
                    [ngClass]="{'is-invalid':(lname.touched || lname.dirty )&& lname.invalid}">
                    <span class='invalid-feedback'>
                      <span *ngIf="lname.errors?.['required']">
                        Last Name required.
                      </span>
                      <span *ngIf="lname.errors?.['pattern']">
                        Last Name must be at least 3 characters and only alphabetic and can't contain voids.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="email"
                  required pattern="[a-zA-Z0-9.]*[@]{1}[a-zA-Z0-9]*[.]{1}[a-zA-Z0-9]{2,}"
                  #email="ngModel" [(ngModel)]="UserData.email" value="{{UserData.email}}"
                  [ngClass]="{'is-invalid':(email.touched || email.dirty )&& email.invalid}">
                  <span class='invalid-feedback'>
                    <span *ngIf="email.errors?.['required']">
                      Email is required.
                    </span>
                    <span *ngIf="email.errors?.['email'] || email.errors?.['pattern']">
                      Please enter a valid email address.
                    </span>
                  </span>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control"
                  required minlength="11" maxlength="11" name="phone"
                  #phone="ngModel" [(ngModel)]="UserData.phoneNumber" value="{{UserData.phoneNumber}}"
                  [ngClass]="{'is-invalid':(phone.touched || phone.dirty )&& phone.invalid}">
                  <span class='invalid-feedback'>
                    <span *ngIf="phone.errors?.['required']">
                      phoneNumber is required.
                    </span>
                    <span *ngIf="phone.errors?.['minlength']">
                      phoneNumber must be 11 characters.
                    </span>
                  </span>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Country</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                      <select class="form-select form-select-m" name="country" id="country"
                      required
                      #country="ngModel" [(ngModel)]="UserData.country"
                      [ngClass]="{'is-invalid':(country.touched || country.dirty )&& country.invalid}">
                        <option disabled selected>Select your country</option>
                        <option value="USA">USA</option>
                        <option value="Canada">Canada</option>
                        <option value="Egypt">Egypt</option>
                      </select>
                      <span class='invalid-feedback'>
                        <span *ngIf="country.errors?.['required']">
                          Country is required.
                        </span>
                      </span>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Money in my account</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="money" #money="ngModel" [(ngModel)]="UserData.moneyAccount">
                  <!-- <input type="text" class="form-control"
                  required
                  #money="ngModel" [(ngModel)]="UserData.moneyAccount"
                  [ngClass]="{'is-invalid':(money.touched || money.dirty )&& money.invalid}">
                  <span class='invalid-feedback'>
                    <span *ngIf="money.errors?.['required']">
                      MoneyAccount is required.
                    </span>
                  </span> -->
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Title</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="UserData.title">
                </div>
              </div>
              <div class="row mb-3" *ngIf="UserData.categoryName">
                <div class="col-sm-3">
                  <h6 class="mb-0" >Category</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <select name="cat" id="prdCat" class="form-select w-100"
                    #cat="ngModel" [(ngModel)]="UserData.categoryID" required>
                    <option disabled selected>Select your Category</option>
                    <option *ngFor="let item of Categories" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row mb-3" *ngIf="UserData.categoryName">
                <div class="col-sm-3">
                  <h6 class="mb-0">Hour Rate</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="hour" #hour="ngModel" [(ngModel)]="UserData.hourRate">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary d-flex justify-content-end">
                  <input type="submit" [disabled]="InformationForm.invalid" class="btn btn-primary px-4" value="Save Changes">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

        <!-- portofolio section -->

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">My Portofolio</i></h6>
                <div class="card mb-3" *ngFor="let item of UserPortofolio" >
                  <div class="row no-gutters">
                    <div class="col-lg-4 col-sm-4 d-flex">
                      <button type="button" class="btn btn-danger " (click)="deletePorfolio(item.id)">x</button>
                      <img src="data:image/png;base64,{{item.portimage}}" class="card-img" height="150px">
                    </div>
                    <div class="col-lg-8 col-sm-8">
                      <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <p class="card-text"><small class="text-muted">{{item.date}}</small></p>
                        <a href="{{item.projectUrl}}" target="_blank" class="">Details</a>
                      </div>
                    </div>
                  </div>
                </div>

<!-- edit portofolio -->
                <form class="g-3" #addportofolio='ngForm' >
                  <div class="row mb-3">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Title</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">
                      <input type="text" class="form-control" #title='ngModel' name="title"  [(ngModel)]=PortfolioTitle >
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Job URL</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">
                      <input type="text" class="form-control" #port='ngModel' name="Portfolio"  [(ngModel)]=PortfolioURL required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Job Date</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">
                      <input type="date" class="form-control" #port='ngModel' name="PortfolioDate"  [(ngModel)]=PortfolioDate required>
                    </div>
                  </div>
                  <div class="mb-3">
                    <h6 class="mb-0">Select image for your Job</h6>
                    <input class="form-control " #myInput="ngModel" name="img" type="file" [(ngModel)]=PortfolioIMG
                    (change)="fileInput($event.target)" id="formFile" required>
                  </div>
                  <button class="btn btn-primary" type="submit" [disabled]="addportofolio.invalid" (click)="addNewPortofolio()"> Add New Jop </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- certificate section -->

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Certificate</i></h6>
                <div class="card mb-3" *ngFor="let item of UserData.certfcimage">
                  <div class="row no-gutters">
                    <div class="col-md-4 d-flex">
                      <button type="button" class="btn btn-danger" (click)="deleteCertificate(item.item3)">x</button>
                    <img src="data:image/png;base64,{{item.item4}}" class="card-img" width="100px" height="130px">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{item.item1}}</h5>
                        <a href="{{item.item2}}" target="_blank" class="">Details</a>
                      </div>
                    </div>
                  </div>
                </div>

      <!-- edit certificate -->
                    <form class="g-3" #addcertificate='ngForm' >
                    <div class="row mb-3">
                      <div class="col-sm-4">
                        <h6 class="mb-0">Title</h6>
                      </div>
                      <div class="col-sm-8 text-secondary">
                        <input type="text" class="form-control" #title='ngModel' name="title"  [(ngModel)]=CertificateTitle >
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-sm-4">
                        <h6 class="mb-0">Certificate URL</h6>
                      </div>
                      <div class="col-sm-8 text-secondary">
                        <input type="text" class="form-control" #cert='ngModel' name="certificate"  [(ngModel)]=CertificateURL required>
                      </div>
                    </div>
                    <div class="mb-3">
                      <h6 class="mb-0">Select Certificate image</h6>
                      <input class="form-control" #myInput="ngModel" name="img" type="file" [(ngModel)]=CertificateIMG
                      (change)="fileInput($event.target)" id="formFile" required>
                    </div>
                    <button class="btn btn-primary" type="submit" [disabled]="addcertificate.invalid" (click)="addNewCertificate()"> Add Certificate </button>
                  </form>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
