<app-header></app-header>
<div class="bg-light-color services text-color min-height pt-4 pb-5">
  <div class="container">
    <label class="form-label" for="serCat">Select a Category</label>
    <select
      name="cat"
      id="prdCat"
      class="form-control w-50"
      [(ngModel)]="selectedCategoryId"
      (change)="filterCategory()"
    >
      <option value="0" selected>All</option>
      <option *ngFor="let item of Categories" [value]="item.id">
        {{ item.name }}
      </option>
    </select>
    <div *ngIf="ServicesByCatId?.length == 0" class="main-color fs-1">
      there no services in this category right now
    </div>
    <div
      class="d-flex align-items-start flex-wrap flex-lg-row gap-4 justify-content-between mt-5"
    >
      <a
        routerLink="/service/{{ item.id }}"
        class="service bg-white p-3 text-decoration-none text-color"
        *ngFor="let item of ServicesByCatId"
      >
        <h4>
          <a
            class="title text-color text-decoration-none"
            routerLink="/service/{{ item.id }}"
          >
            {{ item.title }}
          </a>
        </h4>
        <!-- <span [title]="item.date | date : 'EEEE, dd-MM-yyyy, HH:mm:ss  zzzz'"> -->

        <a
          class="user text-decoration-none"
          routerLink="/profile/{{ item.user_id }}"
          >{{ item.user_firstname }} {{ item.user_lastname }}</a
        >
        <p>{{ subString(item.description) }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div
            class="d-flex align-items-baseline bg-light-color rounded-3 px-2"
            [title]="item.date | date : 'full'"
          >
            <i class="fa-regular fa-clock"></i>
            <span class="d-inline-block ms-2">{{ subDates(item.date) }}</span>
          </div>
          <span
            [class]="
              item.status
                ? 'bg-success text-white px-2 rounded-3'
                : 'bg-danger text-white px-2 rounded-3'
            "
            >{{ checkStatus(item.status) }}</span
          >
        </div>

        <!-- {{ item.description }} -->
        <!-- {{ item.date | date : "yyyy-MM-dd hh:mm:ss" }} -->
        <!-- {{item.id}}
    {{ item.service_category_id }}
    {{ item.service_category_name }}
    {{ item.user_title }}
    {{ item.description }}
    {{ item.hours }} -->
      </a>
      <!-- <div>{{ ServicesByCatId | json }}</div> -->
    </div>
  </div>
</div>
<app-footer></app-footer>
