:root {
  --main-color: #395b64;
  --alter-color: #6ca6a8;
  --text-color: #2c3333;
  --light-color: #e7f6f2;
}
.main-color {
  color: var(--main-color, #395b64);
}
.alter-color {
  color: var(--alter-color, #6ca6a8);
}
.text-color {
  color: var(--text-color, #2c3333);
}
.light-color {
  color: var(--light-color, #e7f6f2);
}
.bg-main-color {
  background-color: var(--main-color, #395b64);
}
.bg-alter-color {
  background-color: var(--alter-color, #6ca6a8);
}
.bg-text-color {
  background-color: var(--text-color, #2c3333);
}
.bg-light-color {
  background-color: var(--light-color, #e7f6f2);
}
